In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/prasertcbs/tutorial/master/mpg.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [4]:
df.agg(['mean','min','max']).T

C:\Users\chinn\AppData\Local\Temp\ipykernel_13604\975247005.py:1: FutureWarning: ['manufacturer', 'model', 'trans', 'drv', 'fl', 'class'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.agg(['mean','min','max']).T

                   mean          min                max
manufacturer        NaN         audi         volkswagen
model               NaN  4runner 4wd  toyota tacoma 4wd
displ          3.471795          1.6                7.0
year             2003.5       1999.0             2008.0
cyl            5.888889          4.0                8.0
trans               NaN     auto(av)         manual(m6)
drv                 NaN            4                  r
cty           16.858974          9.0               35.0
hwy           23.440171         12.0               44.0
fl                  NaN            c                  r
class               NaN      2seater                suv

In [7]:
df.groupby('class').describe()

           displ                                                 year  \
           count      mean       std  min  25%   50%   75%  max count
class
2seater      5.0  6.160000  0.531977  5.7  5.7  6.20  6.20  7.0   5.0
compact     47.0  2.325532  0.452274  1.8  2.0  2.20  2.80  3.3  47.0
midsize     41.0  2.921951  0.718510  1.8  2.4  2.80  3.50  5.3  41.0
minivan     11.0  3.390909  0.452669  2.4  3.3  3.30  3.80  4.0  11.0
pickup      33.0  4.418182  0.828574  2.7  3.9  4.70  4.70  5.9  33.0
subcompact  35.0  2.660000  1.102457  1.6  1.9  2.20  3.25  5.4  35.0
suv         62.0  4.456452  1.065805  2.5  4.0  4.65  5.30  6.5  62.0

                         ...    cty         hwy                             \
                   mean  ...    75%   max count       mean       std   min
class                    ...
2seater     2004.400000  ...  16.00  16.0   5.0  24.800000  1.303840  23.0
compact     2003.212766  ...  21.00  33.0  47.0  28.297872  3.781620  23.0
midsize     2003.609756  ...  21.00  23.0  41.0  27.292683  2.135930  23.0
minivan     2003.090909  ...  17.00  18.0  11.0  22.363636  2.062655  17.0
pickup      2003.636364  ...  14.00  17.0  33.0  16.878788  2.274280  12.0
subcompact  2003.114286  ...  23.50  35.0  35.0  28.142857  5.375012  20.0
suv         2003.790323  ...  14.75  20.0  62.0  18.129032  2.977973  12.0


             25%   50%   75%   max
class
2seater     24.0  25.0  26.0  26.0
compact     26.0  27.0  29.0  44.0
midsize     26.0  27.0  29.0  32.0
minivan     22.0  23.0  24.0  24.0
pickup      16.0  17.0  18.0  22.0
subcompact  24.5  26.0  30.5  44.0
suv         17.0  17.5  19.0  27.0

[7 rows x 40 columns]